*{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: large;
}


h1{
    font-size: 4vh;
}


.foto{
   position: relative;
   top: 20px;
   width: auto;
   height: 300px;
   border: 2px solid white;
  border-radius: 500px;
   
}

text{
    position: relative;
}


.titulo{
    position: absolute;
    top: 350px;
    left: 375px;
    right: 375px;
}


.academy{
    position: absolute;
    top: 500px;
    left: 375px;
    right: 375px;
}


.pessoal{
    position: absolute;
    top: 700px;
    left: 375px;
    right: 375px;
}



body {
    margin: 0;
    padding: 0;
    background: rgb(17,14,62);
    background: linear-gradient(90deg, rgba(17,14,62,1) 18%, rgba(73,73,133,1) 50%, rgba(1,12,22,1) 100%);
    background-size: 100%;
  }


.instagram{
    position: relative;
    width: auto;
    height: 50px;
    top: 600px;
}
.whats{
    position: relative;
    width: auto;
    height: 50px;
    top: 600px;
    margin-left: 350px;
    margin-bottom: auto;
}

.redes{
    position: relative;
    width: auto;
    height: 50px;
    top: 600px;
}

.aroba{
    position: relative;
    top: 540px;
    margin-right: 180px;
}

.num{
    position: relative;
    top: 500px;
    margin-left: 650px;
}
